@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-secondary: var(--secondary)
}

:root {
  --background: #fbfff8;
  --primary: #141414;
  --text: #3f3f3f;
  --secondary: #f1f1f1;
}

.dark {
  --background: #06040e;
  --primary: #ffffff;
  --text: #cacaca;
  --secondary: #181818;
}

body {
  background-color: var(--background);
}